.container {
  padding: 0 6%;
  &__home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    strong {
      font-size: 28px;
      font-weight: 700;
      @media only screen and (min-width: 1024px) {
        font-size: 36px;
      }
    }

    &-divider {
      border: 1px solid #def4e7;
      box-shadow: 0px 0px 10px #99e6aa;
      text-align: end;
    }
  }
  &-animation {
    display: flex;
    width: 400%;
    position: relative;
    overflow: hidden;
    .text-loop {
      position: relative;
      animation: mymove 25s infinite linear;
    }
    .text-loop2 {
      position: relative;
      animation: mymove 25s infinite linear;
    }
  }
}
@keyframes mymove {
  0% {
    transform: translateX(-100%);
  }
  90% {
  }
  100% {
    transform: translateX(100%);
  }
}
.box-animation {
  display: flex;
  width: 200%;
  overflow: hidden;
  column-gap: 20px;
}
@keyframes mymove2 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}
.box-animation2 {
  display: flex;
  // width: 200%;
  overflow: hidden;
  column-gap: 20px;
}
