.container {
  padding: 0 6%;
  &__home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    strong {
      font-size: 28px;
      font-weight: 700;
      @media only screen and (min-width: 1024px) {
        font-size: 36px;
      }
    }

    &-divider {
      border: 1px solid #def4e7;
      box-shadow: 0px 0px 10px #99e6aa;
      text-align: end;
    }
  }
  &__portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-between;
      }
      @media only screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: space-between;
      }
    }

    .box-portfolio {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      text-align: center;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 100%;
      }
      p {
        max-height: 100px;
        overflow: scroll;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    &-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: rgba(255, 255, 255, 0.19);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      padding: 40px 10px;
      @media only screen and (min-width: 1024px) {
        flex-direction: row;
      }
      .profilePic {
        width: 220px;
        border-radius: 100%;
      }
      .description {
        text-align: center;
        width: 80%;
        @media only screen and (min-width: 1024px) {
          text-align: left;
          width: 50%;
        }
      }
    }
    &-textLeft {
      border-left: 2px solid #70d4a3;
      padding-left: 20px;
      width: 90%;
      align-self: flex-start;
      @media only screen and (min-width: 768px) {
        width: 55%;
      }
    }
    &-textRight {
      border-right: 2px solid #70d4a3;
      padding-right: 20px;
      text-align: right;
      width: 90%;
      align-self: flex-end;
      @media only screen and (min-width: 768px) {
        width: 55%;
      }
    }
  }
}
