.container__contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-height: 60vh;

  &-form {
    width: 100%;
    line-height: 30px;
    font-family: "Poppins";
    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 40% 50%;
      justify-content: space-between;
    }
  }
}
