footer {
  margin-top: 75px;
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  @media only screen and (min-width: 1024px) {
    margin-top: 100px;
    justify-content: flex-end;
    column-gap: 30px;
    margin-bottom: 25px;
  }
  span {
    font-size: 14px !important;
  }
  div {
    display: flex;
    column-gap: 5px;
  }
}
