@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/public/fonts/Free-Sans/FreeSans.otf") format("otf");
  font-family: "Poppins";
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
  src: url("/public/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
  src: url("/public/fonts/Poppins/Poppins-Light.ttf") format("ttf");

}

body {
  margin: 0;
  font-family: "Poppins", "Kiona Regular", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/assets/background.png");
  background-color: #14201e;
  z-index: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  color: white;
  font-size: 14px;
 

}
h1, h2, h3, h4{
  font-family:  "Poppins", 'Segoe UI', 'Roboto', sans-serif;
}
h1{
  font-size: 20px;
  font-weight: 700;
}

h2{
  font-size: 28px;
  font-weight: 700;
}
h3{
  font-size: 16px;
  font-weight: 700;
}
a{
  text-decoration: none;
}
strong{
  background-color: #f3ec78;
    background: linear-gradient(45deg, #C0F6AE, #77D8A7);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

button{
  background: linear-gradient(97.53deg, #C0F7AE 13.61%, #70D5A3 95.72%);
box-shadow: 0px 5px 30px rgba(192, 247, 174, 0.3);
border-radius: 15px;
border-style: none;
color: black;
padding: 15px 50px;
width: fit-content ;
font-weight: 600;
cursor: pointer;
}
button:hover{
  color: white;
  background: linear-gradient(97.53deg, #c0f7aec2 13.61%, #70d5a3d9 95.72%);
}
@media only screen and (min-width: 768px){
  *{
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px){
 
  h1{
    font-size: 28px;
    font-weight: 700;
  }
  h2{
    font-size: 36px;
    font-weight: 700;
  }
  h3{
    font-size: 24px;
  }
}